#前端
streamlit>=1.30.0
requests>=2.25.0
Pillow>=9.0.0
urllib3>=1.26.0

#后端
fastapi==0.120.1
numpy==1.26.4
onnx==1.19.1
onnxruntime==1.23.2
onnxruntime_extensions==0.14.0
opencv-python==4.11.0.86

packaging==25.0
protobuf==6.33.0

python-multipart==0.0.20


ultralytics==8.3.217
ultralytics-thop==2.0.17
uvicorn==0.38.0
